.country-dropdown {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    left: 23px;
    top: 54%;
    transform: translateY(-50%);
    z-index: 1;
    color: #888;
  }
  
  .select-container {
    width: 510px;
    border-radius: 50px;
  }
  .country-option {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .country-flag {
    width: 20px;
    height: 15px;
    object-fit: cover;
  }
  .search-con{
    padding-left: 50px;
  }

  .select-container .css-1s2u09g-control,
  .select-container .css-1pahdxg-control {
    padding-left: 25px;
  }

